body {
  display: block;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}
a:visited .box{
  color: navy;
}

a:hover .box, a:focus .box{
  color: navy;
}

.box {
  box-shadow: 0px 10px 10px 5px #888888;
  margin-bottom: 40px;
  margin-top: 10px;
}
.box:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}
.desc {
  background-color: #f0f0f0;
}

.jumbotron{
  padding: 1rem 2rem;
}
.jumbotron i {
  margin-left: 20px;
}

.my-nav ul{
   list-style: none;
  margin: none;
  padding: none;
text-align: center;
}

.my-nav ul li{
  text-align: center;
}
.my-nav a:link{
   display: inline;
}
.my-nav li:last-of-type{
   border: none;
}
.my-nav ul li a{
  padding: .5em .8em;
}
.subtitle{
   display: none;
 }


@media (min-width: 700px){
 .my-nav ul li a{
  padding: 1em 2em;
}

}

@media (min-width: 800px){
 .my-nav ul li a{
  padding: 1.5em 2.5em;
}
}

@media (min-width: 500px){
 
 .subtitle{
   display: block;
 }

  .my-nav ul li{
  /*text-align: center;*/
  display: inline;
   border-right: 1px;
  border-right-style: solid;
  /*background-color: pink;*/
/*}
.my-nav ul li a{
  padding: 1em 2em;*/
}
}
