<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Binomial Calculator Vue JS</title>

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <style>
    .container {
      margin-top: 40px;
    }

    .my-table {
      height: 700px;

      overflow-y: auto;
    }
  </style>
</head>

<body>
  <div id="binomial" class="container">
    <h1>Binomial Calculator</h1>
    <hr>
    <div class="row">
      <div class="col">

        <div class="form-group row">
          <label for="n" class="col-4 col-form-label">Number of trials <em>n</em></label>
          <div class="col-6">
            <input class="form-control" type="number" v-model.number="n" id="n" min="1">
          </div>
        </div>

        <div class="form-group row">
          <label for="p" class="col-4 col-form-label">p</label>
          <div class="col-6">
            <input class="form-control" type="number" v-model.number="p" id="p" step="0.1" min="0" max="1">
          </div>
        </div>

        <div class="form-group row">
          <label for="x" class="col-4 col-form-label">x</label>
          <div class="col-6">
            <input class="form-control" type="number" v-model.number="sx" id="x" max="{{n}}">
          </div>
        </div>

        <hr>
        <p>Mean: {{(n*p).toFixed(4)}}</p>
        <p>Standard Deviation: {{Math.sqrt(n*p*(1-p)).toFixed(6)}}</p>


      </div>
      <div class="col my-table">
        <table v-if="n,p>0" class="table table-hover table-bordered  ">
          <thead class="thead-inverse">
            <tr>
              <th>x</th>
              <th>P(x)</th>
              <th>P(x or fewer)</th>
              <th>P(x or greater)</th>
            </tr>
          </thead>

          <tbody>
            <tr v-if="sx!=''">
              <td>{{sx}}</td>
              <td>{{prob(sx)}}</td>
              <td>{{pxorless(sx)}}</td>
              <td>{{pxormore(sx)}}</td>
            </tr>
            <tr v-if="n<nmax && sx==''" v-for="(x,index) in n+1">
              <td>{{index}}</td>
              <td> {{prob(index)}} </td>
              <td>{{pxorless(index)}}</td>
              <td>{{pxormore(index)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p v-if="n>nmax && sx==''">The values you have entered are invalid</p>
  </div>

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.7.0/jstat.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

  <script>
    var app = new Vue({
      el: "#binomial",
      data: {
        nmax: 30,
        n: 10,
        p: 0.1,
        precision: 6,
        sx: ""
      },
      methods: {
        prob: function (i) {
          return jStat.binomial.pdf(i, this.n, this.p).toFixed(this.precision);
        },
        pxorless: function (i) {
          return jStat.binomial.cdf(i, this.n, this.p).toFixed(this.precision);
        },
        pxormore: function (i) {
          let ptdens = jStat.binomial.pdf(i, this.n, this.p);
          let rightarea = 1 - jStat.binomial.cdf(i, this.n, this.p);
          return (ptdens + rightarea).toFixed(this.precision);
        }
      }
    });
  </script>


</body>

</html>